### Exercise 1. Creates a list similar to the following one in which all the elements are integers

In [17]:
l = [1, 2.0, '3', 4.0, 5, '6', 7.0, 8, '9', '10']
l_int = []
for i in l:
  l_int.append(int(i))
print(l_int)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
l = [1, 2.0, '3', 4.0, 5, '6', 7.0, 8, '9', '10']

### Exercise 2. Creates a list for the names `name` and another for the age `age`

In [18]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26 ]
ages=[]
names=[]
c=len(l)
for i in range(c):
    if isinstance(l[i], int)==True:
        ages.append(l[i])
    else:
        names.append(l[i])
print(ages)
print(names)

[25, 28, 27, 26]
['Chandler', 'Phoebe', 'Monika', 'Joey']

### Exercise 3. Separate the list in three `name`, `age` and `phone`

In [19]:
l = ['Chandler', 25, 755.5664,  'Phoebe', 28, 755.5904,  'Monika', 27, 655.5297, 'Joey', 26, 655.5722]
names=[]
ages=[]
tel=[]
for i in range(len(l)):
    if isinstance(l[i], str)==True:
        names.append(l[i])
    elif isinstance(l[i], int)==True and l[i]<115:
        ages.append(l[i])
    else:
        tel.append(l[i])
print(names)
print(ages)
print(tel)

['Chandler', 'Phoebe', 'Monika', 'Joey']
[25, 28, 27, 26]
[755.5664, 755.5904, 655.5297, 655.5722]

### Exercise 4. Same than in ex.3, be sure that the number is a float

In [ ]:
l = ['Chandler', 25, "755.5664",  'Phoebe', 28, "755.5904",  
     'Monika', 27, "655.5297", 'Joey', 26,"655.5722"]
name=[]
age=[]
tel=[]
for i in range (2,12,3):
    d=float(l[i])
    l.pop(i)
    l.insert(i,d)
for i in range(len(l)):
    if isinstance(l[i], str)==True:
        name.append(l[i])
    elif isinstance(l[i], int)==True and l[i]<115:
        age.append(l[i])
    elif isinstance(l[i], float)==True:
        tel.append(l[i])
print(name)
print(age)
print(tel)

### Exercise 5. Same than in ex.3 and 4, but parsing the phone number

In [ ]:
l = ['Chandler', 25, "+34-755-5664",  'Phoebe', 28, "+34-755-5904",  
     'Monika', 27, "+34-655-5297", 'Joey', 26,"+34-655-5722"]

### Exercise 6. It has been a year since they started recording the TV show so add 1 year to the age of each

In [36]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26]
Afteryear=[]
a=len(l)
for i in range(0,a,1):
    if isinstance(l[i],int) == True:
        l[i]+=1
        Afteryear.append(l[i])
    else:
        Afteryear.append(l[i])
print (Afteryear)

['Chandler', 26, 'Phoebe', 29, 'Monika', 28, 'Joey', 27]

### Exercise 7. Create a list for `name` and a list for `age`. Sort both lists according to age (ascending)

In [13]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26]
age=[]
for i in l:
    if isinstance(i,str)==False:
        age.append(i)
s_age = sorted(age)
s_name=[]
for i in s_age:
    s_name.append(l[l.index(i)-1])
print(s_age,s_name)

[25, 26, 27, 28] ['Chandler', 'Joey', 'Monika', 'Phoebe']

### Exercise 8. Create a function to order one list using other list

### Exercise 9. Separate `age_new` and `name_new` and sort names in age order using previous function

In [14]:
l_new = ['Rachel', 24, 'Ross', 27, 'Monika', 25]
def Functionlist(l):
    age=[]
    for i in l:
        if isinstance(i,str)==False:
            age.append(i)
    s_age = sorted(age)
    s_name=[]
    for i in s_age:
        s_name.append(l[l.index(i)-1])
    return s_name
print(Functionlist(l_new))

['Rachel', 'Monika', 'Ross']

### Exercise 10. Join `l` with `l_new`, separate `age` and `name` sort them and remove those with age higher than 26

In [84]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26]
l_new = ['Rachel', 24, 'Ross', 27]
ltotal=l+l_new
age=[]
for i in range(0,len(ltotal),1):
    if isinstance(ltotal[i],str)==False and ltotal[i]<=26:
            age.append(ltotal[i])             
s_age=sorted(age)
s_name=[]
for i in range(0,len(s_age),1):
    s_name.append(ltotal[ltotal.index(s_age[i])-1])
print(s_age)    
print(s_name)

[24, 25, 26]
['Rachel', 'Chandler', 'Joey']